<!-- SIDEBAR -->
<div class="sidebar w-33 border-right border-warning d-flex flex-column text-center align-items-center justify-content-around">
    <p class="h2">ADMIN OPTIONS</p>
    <%if(title!="Admin"){%>
        <a class="p-1 w-75 rounded mb-0" href="/admin">View Users</a>
    <%}%>
    <%if(title!="Add New User"){%>
        <a class="p-1 w-75 rounded mb-0" href="/admin/user">Add New User</a>
    <%}%>
    <%if(title!="User Stats"){%>
        <a class="p-1 w-75 rounded mb-0" href="/admin/userStats">See User Stats</a>
    <%}%>
    <%if(title!="Read Scores"){%>
        <a class="p-1 w-75 rounded mb-0" href="/admin/readScores">View Read Scores</a>
    <%}%>
    <%if(title!="Applicants"){%>
        <a class="p-1 w-75 rounded mb-0" href="/admin/applicants">View Applicants</a>
    <%}%>
    <a class="p-1 w-75 rounded mb-0" href="https://airtable.com/tbl6uzHWIl3cf9nIg/viw6Tspt2UwLsANLm" target="_blank">Raw Data (Airtable)</a>
    <div class="d-flex justify-content-around w-100">
        <a class="social-icon" href="https://github.com/AllStarCodeOrg/Readathon_2019" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
        <a class="social-icon" href="https://glitch.com/~2019-readathon" target="_blank"><i class="fa fa-server" aria-hidden="true"></i></a>
    </div>
</div>
<!-- SIDEBAR END -->