<footer class="page-footer font-small stylish-color-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center text-muted py-3">© 2018 All Star Code | All rights reserved</div>
  <!-- Copyright -->

</footer>