<nav class="main-nav navbar bg-primaryDark pb-1">
    <a class="navbar-brand" href="/dashboard">
        <img src="/static/images/logo_horizontal.png" alt="">
    </a>
    <!-- PROG BAR -->
    <div class="prog-bar-container d-flex pb-2 px-2 text-ascBlue">
        <div class="mt-1 w-100">
            <p class="prog-bar-info mb-2 text-center">
                Total Readathon Progress: <%=progressStats.completed%> out of <%=progressStats.total%> total reads needed
            </p>
            <div class="prog-bar progress md-progress w-100">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-accent" role="progressbar"
                    style="width: <%= progressStats.perc %>%" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100">
                    <%=progressStats.perc%>%</div>
            </div>
        </div>
    </div>
    <!-- PROG BAR END -->

    <div class="link-container">
        <%if(user.admin===1){%>
        <a class="<%if(title==="Admin"){%>active<%}%> nav-item" href="/admin">
            Admin
        </a>
        <%}%>
        <a class="<%if(title==="Dashboard"){%>active<%}%> nav-item" href="<%if(locals.dummy){%>/dummy<%}%>/dashboard">
            Dashboard
        </a>
        <a class="<%if(title==="Profile"){%>active<%}%> nav-item" href="<%if(locals.dummy){%>/dummy<%}%>/profile">
            Profile
        </a>
        <a class="nav-item" href="/logout">
            Logout
        </a>
    
        <a href="javascript:void(0);" class="hamburger ml-3 mr-2" onclick="swap()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</nav>