<div class="rubric-nav-container container animated fadeInDown">
    <nav class="rubric-nav d-flex justify-content-around bg-primaryDark">
        <a class="animated flipInX" href="/dashboard"><i class="fa fa-arrow-left" aria-hidden="true"></i> Dashboard</a>
        <a class="animated flipInX" href="#traits">traits</a>
        <a class="animated flipInX" href="#scoring">scoring</a>
        <a class="animated flipInX" href="#examples">examples</a>
        <a class="animated flipInX" href="/applicant">Read Next Applicant <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </nav>
</div>