:root{
    --light: #F2EFEA;
    --orange: #FC7753;
    --grey: rgba(89, 101, 111, 1);
    --pink: rgba(156, 82, 139, 1);
    --dark: rgba(29, 30, 44, 1);
}
body{
    background-color: var(--dark);
}

div{
    color: var(--light);
}

a{
    color: var(--pink);
}

.bg-success{
    background-color: var(--pink)!important;
}

.social-icon{
    font-size: 3rem;
}

.social-icon:hover{
    color: var(--orange);
}

.sidebar>a{
    background:var(--grey);
    color: var(--light);
    border: 3px var(--pink) solid;
    transition: 
        background-color 300ms ease,
        color 300ms ease;
}
.sidebar>a:hover{
    background-color: var(--orange);
    color:var(--dark);
}

.main-content-container{
    overflow-y: auto;
}

.border-orange{
    border-color: var(--orange)!important;
}

.bg-orange{
    background-color: var(--orange);
}

.bg-light{
    background-color: var(--light);
}

.bg-pink{
    background-color: var(--pink);
}

.text-pink{
    color: var(--pink)!important;
}

input[type="checkbox"] {
    transform:scale(2, 2);
  }

#genButton{
    margin-left: 16px;
    border: none;
    color: var(--light);
}

#genButton:focus{
    background-color: var(--pink);
}
/* TABLE */
#userTable{
    background-color: var(--grey);
}
.table-bordered{
    border-color: var(--orange);
}
#userTable_filter_div{
    display: flex;
    justify-content: center;
}

td,
th{
    text-align: center;
    border-color: var(--orange)!important;
}

td > a{
    color:var(--orange)!important;
}

.table-striped tbody tr:nth-of-type(odd){
    background-color: rgba(0,0,0,.25);
}

thead{
    background-color: var(--pink);
}