body{
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -30;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.alert-container{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
}

.three-cards{
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.three-cards a{
    color: var(--primaryLight);
    transition: all 400ms;
    border: solid 2px var(--primaryDark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.three-cards a img{
    border: 2px solid var(--primaryDark);
    border-radius: 50%;
    transition: border-color 400ms;
}

.three-cards a p:not(.card-icon){
    font-size: 1.2rem;
}

.card-red{
    background-color: var(--red);
}

.card-red:hover{
    background-color: var(--primaryDark);
    color: var(--red);
}

.card-red:hover img{
    border-color: var(--red);
}
.card-green{
    background-color: var(--green);
}

.card-green:hover{
    color: var(--green);
    background-color: var(--primaryDark);
}

.card-green:hover .card-icon{
    color: var(--green);
}
.card-alternate{
    background-color: var(--alternate);
}

.card-alternate:hover{
    color: var(--alternate);
    background-color: var(--primaryDark);
}

.card-alternate:hover .card-icon{
    color: var(--alternate);
}

.card-icon {
    color: var(--primaryDark);
    font-size: 4rem;
    transition: color 400ms;
}

.data_count{
    font-size: 1.3rem;
}