/* MAIN */
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Sans:700');

:root{
  --ascBlue:#51C1E9;
  --primaryLight:#FFFFFF;
  --primaryDark:#3B3D42;
  --accent:#Ebab24;
  --alternate:#A285dc;
  --green:#9dd052;
  --red:#e25d4f;
  --bodyFont: 'PT Sans Narrow', sans-serif;
  --headFont: 'PT Sans', sans-serif;
}

body{
  margin:0;
  font-family: var(--bodyFont);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
header{
  font-family: var(--headFont);
}

.md-flex{
  display:flex;
  justify-content: center;
  align-items: center;
}
.flex{
  flex:1;
}
.vh-100{
  height: 100vh;
}

.w-30{
  width: 30%;
}

.w-33{
  width: 33.333%;
}

.content-container{
  flex:1;
  overflow-y: auto;
}
.text-ascBlue{
  color: var(--ascBlue);
}
.text-primaryLight{
  color: var(--primaryLight);
}
.text-primaryDark{
  color: var(--primaryDark);
}
.text-accent{
  color: var(--accent);
}
.text-alternate{
  color: var(--alternate);
}
.text-green{
  color: var(--green);
}
.text-red{
  color: var(--red);
}
.border-ascBlue{
  border-color: var(--ascBlue)!important;
}
.border-primaryLight{
  border-color: var(--primaryLight)!important;
}
.border-primaryDark{
  border-color: var(--primaryDark)!important;
}
.border-accent{
  border-color: var(--accent)!important;
}
.border-alternate{
  border-color: var(--alternate)!important;
}
.border-green{
  border-color: var(--green)!important;
}

.bg-ascBlue{
  background-color: var(--ascBlue);
}
.bg-primaryLight{
  background-color: var(--primaryLight);
}
.bg-primaryDark{
  background-color: var(--primaryDark);
}
.bg-accent{
  background-color: var(--accent);
}
.bg-alternate{
  background-color: var(--alternate);
}
.bg-green{
  background-color: var(--green);
}
.bg-red{
  background-color: var(--red);
}

hr.sep {
  width: 75%;
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(81,193,232,0.75), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(81,193,232,0.75), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(81,193,232,0.75), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(81,193,232,0.75), rgba(0,0,0,0));
  color: #333;
  }

  .outlined{
    text-shadow: 0 0 2px var(--primaryDark);
}
/* MAIN END */

/* NAV */
nav.main-nav{
  border-bottom: solid 2px var(--ascBlue);
  z-index: 10;
  padding-top: 0!important;
}

nav.main-nav a{
  color: var(--ascBlue);
  transition: color 500ms;
  font-size: 1.4rem;
  text-transform: uppercase;
}

nav.main-nav a:hover{
  color: var(--accent);
}


.prog-bar-info{
  font-size: 1.1rem;
  letter-spacing: .5px;
}

.progress{
  background-color: #ffffff25!important;
}

.progress-bar{
  font-size: 1.3rem;
}
.prog-bar {
  --prog-h: 25px;
  height: var(--prog-h);
}

.navbar-brand img{
  width: 200px;
}

.active{
  color: var(--alternate)!important;
  font-weight: 700;
  pointer-events: none;
  cursor: none;
}

.link-container{
  flex:1;
  display: flex;
  justify-content: space-evenly;
}

.hamburger{
  display: none;
}
/* NAV END */

/* FOOTER */
footer.page-footer .footer-copyright{
  font-size: 1.5rem;
  color: var(--ascBlue);
  background-color: var(--primaryDark);
  border-width: 2px!important;
}
/* FOOTER END */

/* RESPONSIVE */
@media (max-width: 990px){
  .hamburger{
    display: block;
  }
  .hang{
    position: absolute;
    top: 19px;
    right: 16px;
  }
  .link-container{
    flex:0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primaryDark);
  }

  .nav-item{
    padding: 5px;
    border-bottom: 1px solid var(--accent);
    border-top: 1px solid var(--accent);
  }

  .nav-item.show{
    display: block;
  }

  .down{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
  }

  .prog-bar-container{
    flex:1;
  }

  .nav-item{
    display: none;
  }
}

@media (max-width: 680px){
  
  .prog-bar-container{
    padding-top: .5rem;
  }
  .prog-bar-container > div> p{
    display: none;
  }
}

@media (max-width: 500px){
  .navbar-brand{
    display: none;
  }
}
@media (max-width: 400px){
  footer.page-footer .footer-copyright{
    font-size: 1.1rem;
  }
}
