<%include ../partials/head%>
<%include ../partials/nav%>


    <div class="container-fluid vh-100">
        

        <!-- THREE CARDS -->
        <div class="three-cards flex-center justify-content-around">
            <a class="text-center w-25 border border-primary rounded mb-2 animated fadeInUp hoverable p-4 flex-grow" href="/rubric">
                <p class="card-icon"><i class="fa fa-info-circle" aria-hidden="true"></i></p>
                <header class="h2">Scoring Rubric</header>
                <small>Learn how to properly score an applicant's essay</small>
            </a>
            <a class="text-center w-25 border border-primary rounded mb-2 animated fadeInUp hoverable p-4 flex-grow" href="/applicant">
                <p class="card-icon"><i class="fa fa-eye" aria-hidden="true"></i></p>
                <header class="h2">Read Next Applicant</header>
                <h2>📚</h2>
            </a>
            <a class="text-center w-25 border border-primary rounded mb-2 animated fadeInUp hoverable p-4 flex-grow" href="/stats">
                <p class="card-icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></p>
                <header class="h2">Stats</header>
                <small>You've read: 0 essay(s)</small>
            </a>
        </div>

    </div>


<%include ../partials/footer%>