<%include ../partials/head%>

    <div class="container-fluid">
        <div class="row no-gutters my-3">
            <div class="col d-flex justify-content-center align-items-center text-center">
                <%= monthStr %> Readathon
            </div>

            <div class="col-8 d-flex">
                <!-- PROG BAR -->
                <div class="progress md-progress align-self-center w-100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 50%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">10 out of 20 (50%)</div>
                </div>
                <!-- PROG BAR END -->
            </div>
            <%if(user.admin===1){%>
            <a class="col d-flex justify-content-center align-items-center text-center" href="/admin">
                Admin
            </a>
            <%}%>
            <a class="col d-flex justify-content-center align-items-center text-center" href="/profile">
                Profile
            </a>
            <a class="col d-flex justify-content-center align-items-center text-center" href="/logout">
                Logout
            </a>

        </div>
        <div class="d-flex">
            <a class="text-center" href="/rubric">
                <p><i class="fa fa-info-circle" aria-hidden="true"></i></p>
                <header class="h2">Rubric</header>
                <small>explaination</small>
            </a>
            <a class="text-center" href="/applicant">
                <p><i class="fa fa-eye" aria-hidden="true"></i></p>
                <header class="h2">Read Next Applicant</header>
                <small>explaination</small>
            </a>
            <a class="text-center" href="/stats">
                <p><i class="fa fa-bar-chart" aria-hidden="true"></i></p>
                <header class="h2">Stats</header>
                <small>You've read: 0 essay(s)</small>
            </a>
        </div>

    </div>


<%include ../partials/footer%>