<!DOCTYPE html>
<html>
<%include ../partials/head%>
<body>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Great+Vibes" rel="stylesheet">
        <div class="main-container d-flex vh-100 flex-column">
            <nav class="row no-gutters bg-primaryDark">
                <a href="/" class="col d-flex justify-content-center align-items-center text-center m-4 text-ascBlue h2">
                    Go to Readathon
                </a>
            </nav>
        <div class="content-container d-flex flex-center flex-column">
            <h1 style="font-family: 'Amatic SC', cursive;">
                Whoops, something went amiss!
            </h1>
            <img width="400px" src="/static/images/error.gif" alt="">
            <h1 style="font-family: 'Great Vibes', cursive;"><%= error.status%> Error</h1>
        </div>
<%include ../partials/footer%>
</div>
</body>
</html>