<%include ../partials/head%>
<%include ../partials/nav%>

<h1>Stats</h1>
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis debitis dolore sit tempora at eveniet recusandae molestias dolor! Reiciendis saepe quos repellat, laborum, eaque, praesentium veniam ut vel mollitia consequatur non distinctio similique voluptatibus facere amet quis vitae iure nemo! Hic, eveniet nisi. Error consectetur officia, asperiores provident praesentium doloremque!</h2>
<%include ../partials/footer%>

